table{
	border-collapse: collapse;
}

table, th, tr, td {
	/*border: 1px solid black;*/
	text-align: center;
}

h3 {
	display: inline;
}

.symbolInput {
	float: right;
	margin-top: 40px;
}

.currentStock {
	position: absolute;
	left: 0px;
	/*margin-left: 10%;*/
	width: 100%;
}

.portfolio {
  min-height: .01%;
  /*overflow-x: auto;*/
  width: 100%;
  margin-left: 15%;
}

.currentStock,
.portfolio {
	margin-left: 10px;
}


.currentStockHeader {
	width: 220px;
	height: 30px;
}

.currentStockData {
	height: 100px;
}

.currentStockInput {
	text-align: left;
}

.currentPortfolioHeader {
	width: 150px;
	height: 30px;
}

.currentPortfolioData {
	height: 40px;
}

.images {
	height: 200px;
}

@media screen and (max-width: 768px) {
	.container-fluid {
		margin-left: 0px;
		max-width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.bull {
		display: none;
	}
	.bear {
		display: none;
	}
	.wall_street {
		display: block;
		padding-left: 0px;
	}
	.col-xs-6 {
		width: 100%
	}
}


